<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="coloring" style="background-color: #eee;">
 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" target="_blank" href="/dashboard">
          <strong>rent<span class="text-danger">X</span></strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white" aria-current="page" href="/my_profile">My Profile</a>
            </li>
            
          </ul>
          <ul class="navbar-nav d-flex flex-row">

            <li class="nav-item me-3 me-lg-0">
                <h6 class="breadcrumb-item active text-white aria-current="page">Welcome<span class="text-danger"> {{request.session.firstname}}!</span></h6>
            </li>
          </ul>
        </div>
      </div>
    </nav>



  <section class="mt-4">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add a P<span class="text-danger">r</span>oduct</h2>

              <form method="post" action="/create" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="name" class="form-control form-control-lg" placeholder="Product Name"/>
                  
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="desc" class="form-control form-control-lg" placeholder="Description"/>
                 
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="form3Example1cg" name="price" class="form-control form-control-lg" placeholder="Price"/>
                  
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="location" class="form-control form-control-lg" placeholder="Location"/>
                  
                </div>

                <div class="form-outline mb-4"><select class="form-select" aria-label="Default select example" name="selectcategory">
            
                  {%for cat in categories%}
                  
                  <option value="{{cat.id}}" >{{cat.name}}</option>
                 
                  {%endfor%}
                </select>
              </div>

              <div class="form-outline mb-4">
                <!-- <label class="form-label" for="customFile">Product Image</label> -->
                <input type="file" class="form-control" id="customFile" name="proimage" accept="image/*" />
              </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-dark btn-block btn-lg gradient-custom-4">Add Your Product</button>
                  </form>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- 
    <div class="flex2">
        <p class="text">Rent<span style="color: #ea5353; font-size:50px;">X</span></p>
        <div class="flex">
        <a class="ancor" href="/my_profile">My Profile</a>
        Welcome {{request.session.firstname}}!
        <a class="ancor" href="/logout">Log Out</a>
        </div>
        </div>
        <form method="post"  action="/create" >
            {% csrf_token %}
            <div class="form-group">
    
              <label for="formGroupExampleInput">name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="name">
              </div>
    
              <div class="form-row">
                <div class="col">
                    <label for="formGroupExampleInput">description</label>
                  <input type="text" class="form-control" name="desc">
                </div>
    
                
    
    
                <div class="col">
                <label for="formGroupExampleInput">price</label>
                  <input type="number" class="form-control" name="price">
                </div>
              </div>
    
              <div class="form-group">
                <label for="exampleFormControlTextarea1">location</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="location" ></textarea>
              </div>
    
    
             
    
    
              <div><P>Select</P><select class="form-select" aria-label="Default select example" name="selectcategory">
                
                {%for cat in cats%}
                
                <option value="{{cat.id}}" >{{cat.name}}</option>
               
                {%endfor%}
              </select>
            </div>
    
    
              <button style="margin-top: 70px" type="submit" class="btn btn-primary">Create!</button>
            
        </form>

        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %} -->
</body>

</html>