<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <section class="vh-100 bg-image"
  style="background-image: url();">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">C<span class="text-danger">r</span>eate an account</h2>

              <form method="post" action="/register">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="firstname" class="form-control form-control-lg" placeholder="First Name"/>
                  <!-- <label class="form-label" for="form3Example1cg">Your Name</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="lastname" class="form-control form-control-lg" placeholder="Last Name"/>
                  <!-- <label class="form-label" for="form3Example1cg">Your Name</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" class="form-control form-control-lg" placeholder="Your Email" />
                  <!-- <label class="form-label" for="form3Example3cg">Your Email</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" name="password" class="form-control form-control-lg" placeholder="Password" />
                  <!-- <label class="form-label" for="form3Example4cg">Password</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" name="password_confirm" class="form-control form-control-lg" placeholder="Repeat your password"/>
                  <!-- <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> -->

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-dark btn-block btn-lg gradient-custom-4">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login_page"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>